---
interface Props {
    title: string;
}
---
<header class="flex items-center top-0 left-0 bg-navbarBg border-solid border-b-2 border-accentColor flex-shrink-0 fixed h-12 z-10 justify-between w-screen">
    <div id="home" class="text-lg font-bold px-10">
        <a class="decoration-0 hover:cursor-pointer hover:text-accentColor" href="/">Simbados</a>
    </div>
    <div class="flex items-center">
        <a class="decoration-0 font-semibold hover:cursor-pointer hover:text-accentColor" href="/blog">Blog</a>
        <div class="h-7 w-7 relative ml-4">
            <img src="/github-mark.png" alt="github logo"/>
            <a class="absolute left-0 top-0 h-full w-full decoration-0 hover:cursor-pointer hover:text-accentColor"
               href="https://github.com/simbados"
               rel="noreferrer"></a>
        </div>
        <div id="dark-mode-toggle"
             class="border-solid border-2 border-r-2 cursor-pointer text-sm mx-4 px-2 py-1 hover:bg-accentColor hover:text-mainColor">
            Light
            Mode
        </div>
    </div>
</header>
