---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
    title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <meta name="Website">
    <meta name="description" content="My personal website and blog"/>
    <meta name="robots" content="index, follow">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer">
    <meta property="og:title" content="Simbados Home">
    <meta property="og:description" content="Simbados Website and blog">
    <meta property="og:url" content="https://simbados.com">
    <meta charset="UTF-8"/>
    <link rel="icon" href="/favicon.png" type="image/png">
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body>
<Header title></Header>
<div class="background">
    <div class="main">
        <slot/>
    </div>
    <Footer/>
</div>
</body>
</html>
<script src="../scripts/main.ts"></script>
<style is:global>
    :root {
        --background-color: #fff;
        --accent-color: 90, 131, 90;
        --accent-bg-color: rgb(63, 93, 63, 0.5);
        --black: #1a1a1a;
        --white: #bdbdbd;
        --starting-bg-light: 247, 252, 247;
        --starting-bg-dark: 80, 91, 80;
        --navbar-bg: var(--starting-bg-light);
        --background-light: linear-gradient(150deg, rgb(var(--starting-bg-light)), rgb(193, 222, 193));
        --background-dark: linear-gradient(150deg, rgb(var(--starting-bg-dark)), rgb(53, 59, 53));
        --main-color: #fff;
    }

    .background {
        right: 0;
        position: fixed;
        height: 100vh;
        width: 100vw;
        left: 0;
        background: var(--background-color);
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    .main {
        display: flex;
        flex-direction: column;
        z-index: 3;
        padding-top: 3em;
        min-height: calc(100% - 3em);
        width: 100%;
    }

    body, html {
        color: var(--main-color);
        font-family: 'Courier New', monospace;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    a {
        color: var(--main-color);
        word-break: break-all;
    }

    code {
        font-family: Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
</style>
