body, html {
    color: var(--main-color);
    font-family: 'Courier New', monospace;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --background-color: #fff;
    --accent-color: rgb(63, 93, 63);
    --accent-bg-color: rgb(63, 93, 63, 0.5);
    --black: #1a1a1a;
    --white: #bdbdbd;
    --starting-bg-light: rgb(247, 252, 247);
    --starting-bg-dark: rgb(66, 70, 66);
    --navbar-bg: var(--starting-bg-light);
    --background-light: linear-gradient(to bottom, var(--starting-bg-light), rgb(207, 220, 207));
    --background-dark: linear-gradient(to bottom, var(--starting-bg-dark), rgb(55, 58, 55));
    --main-color: #fff;
    --navbar-height: 3em;
}

.background {
    right: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    background: var(--background-color)
}

.container {
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--navbar-height));
    z-index: 3;
}

.container__scrollTop {
    align-self: center;
    color: var(--accent-color);
    cursor: pointer;
    margin: 10px 0 30px 0;
    scroll-behavior: smooth;
}

a {
    color: var(--main-color);
    word-break: break-all;
}

a:hover {
    color: var(--accent-color);
}

.navbar {
    align-items: center;
    background: var(--navbar-bg);
    border-bottom: 2px solid var(--accent-color);
    display: flex;
    flex-shrink: 0;
    top: 0;
    left: 0;
    width: 100vw;
    position: fixed;
    height: var(--navbar-height);
    justify-content: space-between;
    z-index: 5;
}

.message {
    font-family: 'Courier New', monospace;
    text-align: left;
    white-space: pre-wrap;
    font-size: 1em;
    margin: 0 auto;
    position: absolute;
    left: 15vw;
    top: 30%;
    max-width: 70vw;
}

.contact-position {
    left: calc(50vw - 6em);
    top: 40%;
}

.welcome-screen {
    font-size: 3em;
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 3;
}

.project-section {
    align-items: start;
    font-size: 2.5em;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: start;
    min-height: 100vh;
    padding: 0 0.5em;
    width: 100%;
}

.project-message {
    text-align: left;
    white-space: pre-wrap;
    font-size: 1em;
}

.project-message-next {
    margin-top: 1em;
}

.mt-05 {
    margin-top: 0.5em;
}

.message-active::after {
    content: ' ';
    display: inline-block;
    width: 0;
    border-right: 2px solid #000;
    animation: blink 0.8s infinite;
}

.project-header {
    font-size: 1.3em;
}

.project-element {
    animation: fade-in-1 1s;
    box-sizing: border-box;
    font-size: 0.7em;
    display: none;
    position: relative;
    margin-top: 0.5em;
    height: fit-content;
    width: 100%;

    a {
        background-color: var(--accent-bg-color);
        border: 2px solid var(--accent-color);
        border-radius: 0.3em;
        display: inline-block;
        padding: 0.2em;
        text-decoration: none;
    }

    span {
        word-break: break-word;
        white-space: pre-wrap;
    }
}

.project-description {
    margin-top: 0.2em;
    text-align: left;
    white-space: pre-wrap;
}

.divider {
    animation: fade-in-1 1s;
    display: none;
    border-top: 1px solid var(--accent-color);
    width: 90vw;
    margin: 0.5em 0;
}

.skill-screen,
.contact-screen {
    min-height: 100vh;
}

.skill-content,
.contact-screen {
    align-items: center;
    font-family: "Arial", sans-serif;
    font-size: 3em;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.skill-content {
    display: none;
}


.skill-button {
    animation: fade-in-1 1s;
    background-color: var(--accent-bg-color);
    border: 2px solid var(--accent-color);
    border-radius: 1em;
    padding: 0.5em;
}

.skill-low {
    opacity: 0.5;
}

.skill-element {
    border: 2px solid var(--accent-color);
    border-radius: 1em;
    font-size: 0.7em;
    padding: 0.4em;
}

.skill-node {
    animation: fade-in-2 1s;
    position: absolute;
    left: 10%;
    top: 15%;
}

.skill-ts {
    animation: fade-in-2 1.5s;
    position: absolute;
    left: 22%;
    top: 37.5%;
}

.skill-vue {
    animation: fade-in-2 2s;
    position: absolute;
    left: 12%;
    top: 62.5%;
}

.skill-nuxt {
    animation: fade-in-2 2.5s;
    position: absolute;
    left: 25%;
    top: 82%;
}

.skill-express {
    animation: fade-in-2 3s;
    position: absolute;
    left: 47%;
    top: 70%;
}

.skill-docker {
    animation: fade-in-2 3.5s;
    position: absolute;
    right: 20%;
    top: 80%;
}

.skill-angular {
    animation: fade-in-2 4s;
    position: absolute;
    right: 10%;
    top: 55%;
}

.skill-go {
    animation: fade-in-4 4.5s;
    position: absolute;
    right: 45%;
    top: 15%;
}

.skill-java {
    animation: fade-in-4 5s;
    position: absolute;
    right: 20%;
    top: 25%;
}

@keyframes fade-in-1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-3 {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-4 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

.navbar__right {
    align-items: center;
    display: flex;
}

.mode-toggle {
    border-radius: 5%;
    border: 1px solid;
    cursor: pointer;
    font-size: 12px;
    margin: 0 2em;
    padding: 0.5em;
}

.mode-toggle:hover {
    background-color: var(--accent-color);
}

.navbar__title {
    font-size: 20px;
    font-weight: 700;
    padding: 0 2.5em;
}

.navbar a {
    text-decoration: none;
}

footer-component {
    align-self: center;
    bottom: 1em;
    display: flex;
    font-size: 12px;
    flex-shrink: 0;
    right: 2em;
    position: fixed;
    justify-self: center;
}

.main {
    padding-top: var(--navbar-height);
    position: relative;
    height: 100%;
}

.privacy {
    padding: calc(var(--navbar-height) + 1em) 1em 1em;
}

@keyframes arrow-1 {
    0% {
        opacity: 0.2;
    }

    25% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.8;
    }
}

@keyframes arrow-2 {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.2;
    }

    75% {
        opacity: 0.8;
    }
}

@keyframes arrow-3 {
    0% {
        opacity: 0.2;
    }

    75% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.8;
    }
}

.arrow-down-1 {
    animation: arrow-1 2.5s infinite;
}

.arrow-down-2 {
    animation: arrow-2 2.5s infinite;
}

.arrow-down-3 {
    animation: arrow-3 2.5s infinite;
}

.arrow-group-left {
    position: absolute;
    left: 5%;
    top: 33%;
}

.arrow-group-right {
    position: absolute;
    right: 5%;
    top: 33%;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--accent-color);
    margin-bottom: 0.5em;
}

.github-acc {
    height: 24px;
    width: 24px;
    position: relative;

    img {
        height: 24px;
        width: 24px;
    }

    a {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
}

@keyframes blink {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: #000;
    }
}

@media screen and (max-width: 700px) {
    .arrow-group-left {
        left: 0.4em;
    }

    .arrow-group-right {
        right: 0.4em;
    }

    .message {
        font-size: 0.5em;
    }

    .skill-button {
        font-size: 0.5em;
    }

    .skill-element {
        font-size: 0.4em;
    }

    .arrow-down {
        --base-size: 0.5em;
        width: 0;
        height: 0;
        border-left: var(--base-size) solid transparent;
        border-right: var(--base-size) solid transparent;
        border-top: var(--base-size) solid var(--accent-color);
        margin-bottom: 0.3em;
    }

    .arrow-group-left {
        top: 50%;
        left: 20%;
    }

    .arrow-group-right {
        top: 50%;
        right: 20%;
    }

    .contact-position {
        top: 40%;
    }

    .welcome-mobile {
        top: 15%;
        font-size: 0.55em;
    }

    .skill-node {
        position: absolute;
        left: 10%;
        top: 15%;
    }

    .skill-ts {
        position: absolute;
        left: 18%;
        top: 30%;
    }

    .skill-vue {
        position: absolute;
        left: 12%;
        top: 58%;
    }

    .skill-nuxt {
        position: absolute;
        left: 25%;
        top: 85%;
    }

    .skill-express {
        position: absolute;
        left: 35%;
        top: 70%;
    }

    .skill-docker {
        position: absolute;
        right: 15%;
        top: 82%;
    }

    .skill-angular {
        position: absolute;
        right: 10%;
        top: 60%;
    }

    .skill-go {
        position: absolute;
        right: 20%;
        top: 20%;
    }

    .skill-java {
        position: absolute;
        right: 16%;
        top: 33%;
    }

    .project-message {
        font-size: 0.6em;
    }

    .project-element {
        font-size: 0.5em;
    }

    .project-header {
        font-size: 0.7em;
    }
}
