---
import Layout from "./Layout.astro";
const {content} = Astro.props;
---

<Layout title={content.title}>
    <div class="content px-6 pb-12 font-sans">
        <div class="flex justify-center mb-6">
            <div class="pt-4 font-semibold">{content.created}</div>
        </div>
        <slot/>
        <div class="flex justify-center font-semibold mt-6">
            <div>Last edited: {content.edited}</div>
        </div>
    </div>
</Layout>
<style is:inline>
    .content {
        a {
            color: rgba(var(--accent-color), 0.8);
            text-decoration: underline;
        }

        a:hover {
            color: rgba(var(--accent-color))
        }
    }

    h1, h2, p {
        margin-bottom: 1rem;
    }

    ul {
        padding-left: inherit;
        list-style: inside;
        margin-bottom: 1rem;
    }

    ol {
        padding: inherit;
        list-style: decimal;
    }

    h1, h2 {
        font-weight: 700;
    }

    h2 {
        font-size: 1.1rem;
    }

    h1 {
        font-size: 1.25rem;
    }
</style>